[project]
	description = Do's and Don'ts for Android development, by Futurice developers
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tustar (tustar)
[access "refs/for/refs/*"]
	read = group user/tustar (tustar)
	push = group user/tustar (tustar)
	label-Code-Review = -2..+2 group user/tustar (tustar)
	label-Verified = -1..+1 group user/tustar (tustar)
	rebase = group user/tustar (tustar)
	removeReviewer = group user/tustar (tustar)
	submit = group user/tustar (tustar)
[access "refs/heads/*"]
	read = group user/tustar (tustar)
	create = group user/tustar (tustar)
	push = +force group user/tustar (tustar)
	pushMerge = group user/tustar (tustar)
[access "refs/tags/*"]
	push = group user/tustar (tustar)
	push = +force group user/tustar (tustar)
